@font-face {
    font-family: 'aileronthin';
    src: url('/Aileron-thin/Aileron-Thin-webfont.eot');
    src: url('/Aileron-thin/Aileron-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Aileron-thin/Aileron-Thin-webfont.woff2') format('woff2'),
         url('/Aileron-thin/Aileron-Thin-webfont.woff') format('woff'),
         url('/Aileron-thin/Aileron-Thin-webfont.ttf') format('truetype'),
         url('/Aileron-thin/Aileron-Thin-webfont.svg#aileronthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

$color-p: #feca06;
$color-s: #4CAF50;
$font-1: sans-serif;





body{
    margin: 0;
    padding: 0;
}

.page{
    height: auto;
    width: auto;
    font-family: $font-1;
}

ul{
    list-style: none;

}

.puce{
    width: 13px;
    height: 13px;
    color: $color-s;
}



.section-1{
    background-color: $color-p;
    width: 30%;
    float: left;
}

.section-1 h2{
    background-color: #404040;
    text-align: center;
    text-transform: uppercase;
    color: $color-p;
    padding: 5px 0 5px 0;
}

.box-photo{
    
    display: flex;
    justify-content: center;
    
    &__img{
        border: 2px solid orange;
        border-radius: 81px;
        width: 150px;
        height: 150px;
        margin-top: 20px;
    }
}

.coordonees, .description, .logo{
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}

.coordonees{
    line-height: 27px;
}



.description{
    margin-bottom: 230px;
}

.logo{
    text-align: center;
    margin-bottom: 60%;
    &__x{
        
        width: 60px; 
        height: 60px;
        border: 2px solid black;
        border-radius: 30px;
        padding: 10px 10px 10px 10px;  
    }
    
}

.section-2{
    width: 50%;
    margin-left: 70px;
    display: inline-block;
}

.section-2 h3{
    margin-top: 50px;
}

.box-TP{
    font-size: 3em;
    line-height: 30px;
    margin-bottom: 80px;
    
    &__color{
        
        color: $color-p;
        font-family: $font-1;
    }
    
    &__tiret{
        
        text-decoration: underline;
        text-decoration-color: $color-p;
    }
}

.box-TP h1{
    font-family: 'aileronthin';
}

.box-TP h2{
    font-family: $font-1;
    font-size: 20px;
    margin-top: -40px;
}

.box-T{
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-bottom: 1px solid $color-s;
    margin-top: 20px;

    &__chapeau{
        width: 35px;
        height: 35px;
        margin-top: 15px;
        color: $color-s;
        margin-right: 20px;
        
    }

    &__caisse{
        width: 30px;
        height: 30px;
        margin-top: 15px;
        color: $color-s;
        margin-right: 20px;
        
    }

    &__pinceau{
        width: 30px;
        height: 30px;
        margin-top: 15px;
        color: $color-s;
        margin-right: 20px;
    }
}

.box{
    display: flex;
    width: auto;
}

.box-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    &__date-2{
        display: flex;
        padding-bottom: 80px;
        padding-top: 10px;
        margin-bottom: -20px;

        &__puce{
            width: 13px;
            height: 13px;
            color: $color-s;
            padding-top: 17px;
            margin-right: -25px;
        }
    
    }

    &__date{
        display: flex;
        padding-bottom: 80px;

        &__puce{
            width: 13px;
            height: 13px;
            color: $color-s;
            padding-top: 17px;
            margin-right: -25px;
        }

    }

    &__date-3{
        display: flex;
        padding-bottom: 80px;
        padding-top: 17px;
    
        &__puce{
            width: 13px;
            height: 13px;
            color: $color-s;
            padding-top: 17px;
            margin-right: -25px;
            }
    
        }
}


.box-form-txt{
    margin-left: 155px;
    text-align: justify;
    width: 400px;
}

.box-exp-txt{
    margin-left: 60px;
    text-align: justify;
    width: 400px;
}

.box-recom{
    display: flex;
    justify-content: space-between;
    width: 500px;
}



@media screen and (min-width: 768px) and (max-width: 1352px){
    
    body{
        margin: 0;
        padding: 0;
    }
    .page{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        text-align: center;
	}

	.section-1{
		font-size: 1.6vw;
		align-self: center;
		background-color: $color-p;
		padding-left: 25%;
		padding-right: 25%;
        border-bottom: 1.5px solid black;
        width: 50%;
	}

    
    .box-photo{
        margin-left: 0%;
    }
    
    .coordonees{
        text-align: center;
        line-height: 25px;
    }
    
    .description{
        margin-top: 10%;
        padding-right: 2%;
        padding-left: 2%;
        margin-bottom: 10%;
    }
    
    .logo{
        text-align: center;
        margin-bottom: 2%;
        padding-left: 0%;
        width: 100%;
        
        &__x{
            
            width: 40px; 
            height: 40px;
            border: 2px solid black;
            border-radius: 30px;
        }
    }
    
    .section-2{
        width: 80%;
        margin-left: 0;
    }

    .box-TP{
        font-size: 4vw;
        text-align: center;
    }

    .box-TP h2{
        font-size: 2vw;
    }
    
    .box-T{

        &__chapeau{
            width: 2.8vw;
            height: 2.8vw;
            padding-top: 0%;
        }
        
        &__caisse{
            width: 2.8vw;
            height: 2.8vw;
        }


        &__pinceau{
            width: 2.8vw;
            height: 2.8vw;
        }
    }

    .box, .box-recom{
        font-size: 1.5vw;
    }
}
@media screen and (min-width: 550px) and(max-width: 767px){
    body{
        margin: 0;
        padding: 0;
    }

    .page{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        text-align: center;
	}

	.section-1{
		font-size: 1.5vw;
		align-self: center;
		background-color: $color-p;
		padding-left: 25%;
		padding-right: 25%;
        border-bottom: 1.5px solid black;
        width: 50%;
        
	}
    
    .box-photo{
        margin-left: 0%;
    }
    
    .coordonees{
        line-height: 20px;
        text-align: center;
        font-size: 2vw;
    }
    
    .description{
        font-size: 2vw;
        margin-top: 10%;
        padding-right: 2%;
        padding-left: 2%;
        margin-bottom: 10%;
    }
    
    .logo{
        text-align: center;
        margin-bottom: 0%;
        padding-left: 0%;
        width: 100%;
        
        &__x{
            
            width: 5vw; 
            height: 5vw;
            border: 2px solid black;
            border-radius: 30px;
        }
    }
    
    .section-2{
        width: 80%;
        margin-left: 0;
    }

    .box-TP{
        font-size: 4vw;
        text-align: center;
    }

    .box-TP h2{
        font-size: 2vw;
    }
    
    .box-T{
        font-size: 1.5vw;

        &__chapeau{
            width: 2.8vw;
            height: 2.8vw;
            padding-top: 0%;
        }
        
        &__caisse{
            width: 2.8vw;
            height: 2.8vw;
        }


        &__pinceau{
            width: 2.8vw;
            height: 2.8vw;
        }
    }

    .box, .box-recom{
        font-size: 2vw;
    }

    .box-recom{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and(max-width: 549px){
    body{
        margin: 0;
        padding: 0;
    }

    .page{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        text-align: center;
	}

	.section-1{
		font-size: 1.5vw;
		background-color: $color-p;
		padding-left: 25%;
		padding-right: 25%;
        border-bottom: 1.5px solid black;
        width: 50%;
        
	}
    
    .box-photo{
        margin-left: 0%;
    }
    
    .coordonees{
        line-height: 15px;
        text-align: center;
        font-size: 2.8vw;
    }
    
    .description{
        font-size: 3vw;
        margin-top: 10%;
        padding-right: 2%;
        padding-left: 2%;
        margin-bottom: 10%;
    }
    
    .logo{
        text-align: center;
        margin-bottom: 0%;
        padding-left: 0%;
        width: 100%;
        
        &__x{
            
            width: 5vw; 
            height: 5vw;
            border: 2px solid black;
            border-radius: 30px;
        }
    }

    .section-2{
        width: 80%;
        margin-left: 0;
    }

    .box-TP{
        font-size: 5vw;
        text-align: center;
    }

    .box-TP h2{
        font-size: 3vw;
        line-height: 40px;
    }
    
    .box-T{
        font-size: 3vw;

        &__chapeau{
            width: 4vw;
            height: 4vw;
            padding-top: 0%;
        }
        
        &__caisse{
            width: 4vw;
            height: 4vw;
        }


        &__pinceau{
            width: 4vw;
            height: 4vw;
        }
    }

    .box, .box-recom{
        font-size: 3vw;
    }

    .box-recom{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .box-form-txt{
        margin-left: 20%;
        text-align: justify;
        width: 400px;
    }

    ul{
        list-style: none;
        width: 100%;
    }
}




