@font-face {
    font-family: 'aileronthin';
    src: url('Aileron-Thin-webfont.eot');
    src: url('Aileron-Thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('Aileron-Thin-webfont.woff2') format('woff2'),
        url('Aileron-Thin-webfont.woff') format('woff'),
        url('Aileron-Thin-webfont.ttf') format('truetype'),
        url('Aileron-Thin-webfont.svg#aileronthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open-sans-regular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-Regular-webfont.woff') format('woff'),
        url('OpenSans-Regular-webfont.ttf') format('truetype'),
        url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$color-p: #dde7a0;
$color-s: rgb(130, 206, 133);
$font-1: 'open-sans-regular';



body {
    margin: 0;
    padding: 0;
    width: 100%;

}

.page {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    font-family: $font-1;
}

ul {
    list-style-image: url(puce.png);
    font-size: 15px;
    width: 55%;
}

.li {
    list-style: none;
}

.txt-bold {
    font-weight: bold;
    background-color: rgb(210, 231, 208);
}

// ASIDE //-------------------------->

.aside {
    background-color: $color-p;
    width: 350px;
    font-size: 14px;
}

.aside h2 {
    background-color: #404040;
    text-align: center;
    text-transform: uppercase;
    color: $color-p;
    padding: 1% 0 1% 0;
    letter-spacing: 2px;
}

.box-photo {

    display: flex;
    justify-content: center;

    &__img {
        border: 3px solid rgb(226, 177, 122);
        border-radius: 81px;
        width: 140px;
        height: 140px;
        margin-top: 20px;
    }
}

.coordonees,
.description,
.logo {
    padding-left: 15%;
    padding-right: 15%;
}

.coordonees {
    line-height: 17px;
    font-weight: bold;
}



.description {
    margin-bottom: 150%;
}

.logo {
    text-align: center;

    &__x {

        width: 35px;
        height: 35px;
        border: 4px solid black;
        border-radius: 30px;
        padding: 10px 10px 10px 10px;
    }

}

// SECTION //-------------------------->

.section {
    width: 600px;
    padding: 0 3% 0 3%;
    background-color: #eceff1;
}

.section h3 {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 4.5%;
}

.section p {
    font-size: 14px;
}

.box-TP {
    font-size: 50px;
    line-height: 30px;
    margin-bottom: 10%;

    &__color {
        color: $color-p;
        font-family: $font-1;
    }

    &__tiret {
        border-bottom: 3px solid $color-p;
    }
}

.box-TP h1 {
    font-family: 'aileronthin';
}

.box-TP h2 {
    font-family: $font-1;
    font-size: 20px;
    margin-top: -40px;
}

.box-T {
    text-transform: uppercase;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-bottom: 3px solid $color-s;
    margin-top: 20px;

    &__chapeau {
        width: 35px;
        height: 35px;
        margin-top: 15px;
        color: $color-s;
        margin-right: 20px;

    }

    &__caisse {
        width: 30px;
        height: 30px;
        margin-top: 15px;
        color: $color-s;
        margin-right: 20px;

    }

    &__pinceau {
        width: 30px;
        height: 30px;
        margin-top: 15px;
        color: $color-s;
        margin-right: 20px;
    }
}

.box {
    width: 100%;

    &__1 {
        display: flex;
        width: 100%;

        &__txt {
            width: 700px;
            line-height: 20px;
            border-bottom: 1px solid rgb(192, 192, 192);
        }
    }
}

.box-recom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

// MEDIA-Q //------------------------------------------------>
@media screen and (max-width: 980px) {

    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0 0 0;
        margin: 0;
    }

    .aside {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        order: 3;
    }

    .section {
        background-image: url(Moi-rond.png);
        background-repeat: no-repeat;
        background-size: 150px;
        background-position: top;
        width: 90%;
        padding: 0 3% 0 3%;
    }

    .box-photo {
        order: 3;

        &__img {
            display: none;
        }
    }

    .box-TP {
        text-align: center;
        margin-top: 25%;
    }

    .description {
        margin-bottom: 0%;
    }
}

@media screen and (max-width: 780px) {

    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0 0 0;
        margin: 0;
    }

    .aside {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        order: 3;
    }

    .section {
        background-image: url(Moi-rond.png);
        background-repeat: no-repeat;
        background-size: 20vw;
        background-position: top;
        width: 90%;
        padding: 0 3% 0 3%;
    }

    .box-photo {
        order: 3;

        &__img {
            display: none;
        }
    }

    .box-TP {
        text-align: center;
        margin-top: 30%;
        font-size: 7vw;
    }

    .description {
        margin-bottom: 0%;
    }
}

@media screen and (max-width: 460px) {

    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1px 0 0 0;
        margin: 0;
    }

    .aside {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        order: 3;
    }

    .section {
        background-image: url(Moi-rond.png);
        background-repeat: no-repeat;
        background-size: 20vw;
        background-position: top;
        width: 100%;
        padding: 0 3% 0 3%;
    }

    .box-photo {
        order: 3;

        &__img {
            display: none;
        }
    }

    .box-TP {
        text-align: center;
        margin-top: 30%;
        font-size: 7vw;
    }

    .box-TP h2 {
        font-size: 4vw;
    }

    .box-T {
        font-size: 3.5vw;
    }

    .description {
        margin-bottom: 0%;
    }

    .section h3 {
        font-size: 4.5vw;
    }

    .section p {
        font-size: 3.5vw;
    }

    ul {
        font-size: 3.5vw;
    }

    .box-recom {
        width: 100%;
    }
}