@font-face {
    font-family: 'aileronthin';
    src: url('Aileron-thin/Aileron-Thin-webfont.eot');
    src: url('Aileron-thin/Aileron-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aileron-thin/Aileron-Thin-webfont.woff2') format('woff2'),
         url('Aileron-thin/Aileron-Thin-webfont.woff') format('woff'),
         url('Aileron-thin/Aileron-Thin-webfont.ttf') format('truetype'),
         url('Aileron-thin/Aileron-Thin-webfont.svg#aileronthin') format('svg');
    font-weight: normal;
    font-style: normal;

}




p, h2, h3
{
	font-family: sans-serif;
}


#page
{
	display: flex;
	border: px solid black;
	height: auto;
	width: auto;
	margin-right: 30px;
	
}





#bloc2
{
	background-color: #ffffff
	border: 1px solid black;
	width: auto;
	margin-left: 70px;
}




h2
{
	text-transform: uppercase;
	color: #feca06;
}

#description
{
	margin-right: 30px; 
	margin-left: 30px;
	text-align: justify;
	margin-bottom: 287px;
}

#coordonees
{
	margin-left: 30px; 
}



#bloc1
{
	background-color: #feca06;
	width: 400px;
	display: flex;
	flex-direction: column;
}





#loisirs
{
	background-color: #404040;
	display: flex;
	justify-content: center;
	padding-top: 5px;
	padding-bottom: 5px;
}



#àpropos
{
	background-color: #404040;
	display: flex;
	justify-content: center;
	padding-top: 5px;
	padding-bottom: 5px;
}


#contact
{
	background-color: #404040;
	display: flex;
	justify-content: center;
	padding-top: 5px;
	padding-bottom: 5px;
}



#blocMoi
{
	display: flex;
	justify-content: center;
}




#Moi
{
	border: 2px solid orange;
	border-radius: 200px;
	width: 150px;
	height: 150px;
	margin-top: 20px;
}


#Logo
{
	display: flex;
	justify-content: space-around;
	margin-right: 40px; 
	margin-left: 40px;
	height: 100px;
	padding-top: 20px; 
	 
}


#Cycliste
{
	width:60px; 
	height:60px;
	border: 2px solid black;
	border-radius: 30px;
	padding: 10px 10px 10px 10px;
}	

#Skieur
{
	width: 60px;
	height: 60px;
	width:60px; 
	height:60px;
	border: 2px solid black;
	border-radius: 30px;
	padding: 10px 10px 10px 10px;
}

#Nageur
{
	width: 60px;
	height: 60px;
	width:60px; 
	height:60px;
	border: 2px solid black;
	border-radius: 30px;
	padding: 10px 10px 10px 10px;
}

#Tiret
{
	color: black;
	font-family: 'aileronthin', sans-serif;
}

#Tiret2
{
	text-decoration: underline; 
	text-decoration-color: #feca06;
}

#chapeau
{
	width: 35px;
	height: 35px;
	color: #4CAF50;
	margin-top: 15px; 
}

#blocformation
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	width: auto;
	border-bottom: 1px solid #4CAF50;
}

#TitreFormation
{
	color: black;
	padding-left: 20px;
}


#blocTitreP
{
	width: auto;
	height: 50px;
	font-size: 40px;
}

#blocDW
{
	font-size: 30px;
	height: 150px;

}

nav li 
{
	list-style-type: none;
	margin-top: 30px;
}

#Paris
{
	margin-top: -1px;
}


#bloc2-1
{
	display: flex;
}

#bloc2-1-1
{
	display: flex;
	flex-direction: column;
	margin-left: 148px;
	margin-top: 8px;
	width: 360px;
	text-align: justify;
}

#Pucefleche
{
	width: 13px;
	height: 13px;
	margin-top: 32px;
	margin-right: 8px;
	color: #4CAF50;
}


#bloc2-2
{
	display: flex;
	
}


#bloc2-2-2
{
	display: flex;
	flex-direction: column;
	margin-left: 145px;
	margin-top: 8px;
	width: 360px;
	text-align: justify;
}

#Orleans
{
	margin-top: -1px;
}

#blocExperienceP
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	width: auto;
	border-bottom: 1px solid #4CAF50;
	margin-top: 20px;
}



#TitreExperienceP
{
	color: black;
	padding-left: 20px;
}

#Caisse
{
	width: 30px;
	height: 30px;
	color: #4CAF50;
	margin-top: 15px; 
}

#bloc3-1
{
	display: flex;
}

#bloc3-1-1
{
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	margin-top: 8px;
	width: 360px;
	text-align: justify;
}

#bloc3-2
{
	display: flex;
}

#bloc3-2-2
{
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	margin-top: 8px;
	width: 360px;
	text-align: justify;
}

#bloc3-3
{
	display: flex;
}

#bloc3-3-3
{
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	margin-top: 8px;
	width: 360px;
	text-align: justify;
}

#blocRecommandations
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	width: auto;
	border-bottom: 1px solid #4CAF50;
	margin-top: 20px;
}

#TitreRecommandations
{
	color: black;
	padding-left: 20px;
}

#Pinceau
{
	width: 30px;
	height: 30px;
	color: #4CAF50;
	margin-top: 15px;
}

#bloc4-1
{
	display: flex;
	justify-content: space-around;
	width: 500px;
	margin-left:  -21px;
	margin-top: 15px;
}

#bloc4-1-2
{
	margin-left: 100px;
}


    /* Code Responsive*/

@media screen and (max-width: 1100px)
{

	#page
	{
		width: 800px;
		display: flex;
		flex-direction: column-reverse;
		height: auto;
	}

	#bloc1
	{
		font-size: 15px;
		display: flex;
		align-self: center;
		background-color: #feca06;
		padding-left: 200px;
		padding-right: 200px;
		border-top: 1.5px solid black;

	}

	#bloc2
	{
		font-size: 15px;
		width: auto;
		align-self: center;
		

	}

	#description
	{
		margin-bottom: 0px;
	}



}




